@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Righteous&display=swap');
body{
   margin:0px;
    background-color:ffffff;
    height: 100vh;
}

.title{
    margin:0px;
    color:black;
    font-size: 60px;
    font-family: 'Bungee', cursive;
    text-align: center;
    background-color:white;
    text-decoration-line: underline;
    text-decoration-color: greenyellow;
}




nav{
   text-align:center;
   background-color:lightgray; 
   border: 3px solid black;
 
}

.navBar{
   display:flex;
   justify-content: space-evenly;
   list-style-type: none; 
   align-items: center;
   padding:10px;
   
}

.menu:hover {
    color: greenyellow;
    
}


.menu{
    font-size: 20px;
    color: black;
    text-decoration: none;
    

}

.intro{
    margin:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:black;
    font-size: 20px;
    padding:20px;
    
}

.menu{
    font-family: 'Righteous', cursive;
}


.pickle{
    display:flex;
    justify-content:center;
    align-content: center;  
    margin-top:20px;
}




/* Start of Style for Schedule page 
*/

body{
    margin:0px;
}

#scheduleNav{
    display:flex;
    justify-content: space-evenly;
    list-style-type: none; 
    align-items: center;
    padding:10px;
    font-family: 'Bungee', cursive;
    text-decoration-line: underline;
}

.key{
  text-align: center;
  font-family: 'Bungee', cursive;
}
#gray{
    color:gray;
}



.augustLink{
    text-decoration-color: maroon;
    color:black;
}

.septemberLink{
    text-decoration-color: darkgoldenrod;
    color:black;
}
.octoberLink{
    text-decoration-color: darkorange;
    color:black;
}

.novemberLink{
    text-decoration-color:rgb(0, 128, 17);
    color:black;
}

.decemberLink{
    text-decoration-color:  rgb(66, 64, 211);
    color:black;
}


.augustLink:hover{
  color: maroon;
  
}

.septemberLink:hover{
  color:darkgoldenrod;
  
}

.octoberLink:hover{
    color:darkorange;
    
}

.novemberLink:hover{
    color:rgb(0, 128, 17);
   
}

.decemberLink:hover{
    color: rgb(66, 64, 211);
   
}


.month{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    margin: 10px;  
}

.calendar{
    display:flex;
    flex-direction: column;
    width:800px;
}
.week{
    display:flex;
    flex-direction: row;

}
.day {
    background-color: white;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    float: left;
    text-align:start;
}
.empty{
    background-color: lightgrey;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    float: left;
    text-align:start;
}

.august{
    color: darkgreen;
    font-family: 'Bungee', cursive;
    text-align: center;
    
}

.september{
    color:darkgoldenrod;
    font-family: 'Bungee', cursive;
    text-align: center;
}

.october{
    color:darkorange;
    font-family: 'Bungee', cursive;
    text-align: center;
}
.november{
    color: rgb(0, 128, 17);
    font-family: 'Bungee', cursive;
    text-align: center;
}
.december{
    color: rgb(66, 64, 211);
    font-family: 'Bungee', cursive;
    text-align: center;
}

.compSchedule{
    color: black;
    font-size: 15px;
}

.SocSchedule{
    color:grey;
    font-size:15px;
}

#a{
    font-size:60px;
    font-weight: bold;
}
#s{
    font-size:35px;
}
#o{
    font-size:35px;
}

#n{
    font-size:35px;
}
#d{
    font-size:35px;
}



/* Start of PickleBall rule style*/

.rulesNav{
    display:flex;
    
}
.ruleTitle{
    text-align: center;
    font-size:40px;
    font-family: 'Bungee', cursive;
    text-decoration: underline;
    text-decoration-color: greenyellow;
    

}

/* Start of Competition & Social  style*/

.teamTitle{
    text-align: center;
    font-size: 30px;
    font-family: 'Bungee', cursive;
    text-decoration: underline;
    text-decoration-color: greenyellow;
    
    


}
.practice{
    padding-top:5px;
    background-color: lightgrey;
    text-align: center;
    border:1px solid greenyellow;
    border-radius:5px;
    margin:50px;

}

.times{
    display:flex;
    justify-content: space-evenly;
    font-size:20px;
    margin:0px;

}

.practiceTitle{
    font-size:25px;
    margin:0;
}

.address{
    text-align:center;
    font-size:20px;
    margin:0px;
}

/* Start of Join style*/

.important{
    display:flex;
    justify-content: center;
}
.information{
    font-size: 20px;
    text-align:center;
    border: 2px groove greenyellow;
    background-color: lightgrey;
    border-radius: 10px;
    width:50%;
    align-items: center;
    
}

.instagram:hover{
    color:greenyellow
}



.clubDef{
    font-family: 'Righteous', cursive;
    margin: 55px;
    padding:10px;
    text-align: center;
    font-size: 27px;

}

/* Start of style for Rules */ 

.court{
    display: flex;
    justify-content: center;
    align-content: center;
}

/* Start of the Form on  Join page*/

.form{
  text-align: center;
  font-family: 'Righteous', cursive;
  font-size:20px;
  margin:30px;
}

/*media tags */

@media screen and (max-width:414px){
    .title{
        font-size: 30px;
    }

    img{
        width:5vh;
        height:30px;
    }
    .navBar{
        flex-direction: column;
    }
    #scheduleNav{
        flex-direction: column;
        font-size:20px;
    }
    .day{

        width:40px;
        height:40px;

    }
    .empty{
        width:40px;
        height:40px;
    }
    .calendar{
        width:300px;
    }

    .compSchedule{
        color: black;
        font-size: 7px;
        margin:0px;
    }
    
    .SocSchedule{
        color:grey;
        font-size:7px;
        margin:0px;
    }
    .day{
        font-size:10px;
    }
    #competition1{
        font-size:7px;
    }
    .competition2{
        font-size:9px;
    }
    #competition3{
        font-size:7px;
    }

    .information{
        width:fit-content;
       
    }
    
    .practice{
        width:fit-content;
    }
    .homeImg{
        width:250px;
        height:200px;
    }
    .clubDef{
        font-size:20px;
    }


}

