@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Righteous&display=swap');
body{
   margin:0px;
    background-color:ffffff;
    height: 100vh;
}




/* Start of Style for Schedule page 
*/

body{
    margin:0px;
}


.month{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    margin: 10px;  
}

.calendar{
    display:flex;
    flex-direction: column;
    width:1200px;
}
.week{
    display:flex;
    flex-direction: row;

}
.day {
    background-color: white;
    border: 1px solid black;
    width: 150px;
    height: 150px;
    float: left;
    text-align:start;
}
.empty{
    background-color: lightgrey;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    float: left;
    text-align:start;
}

.august{
    color: darkgreen;
    font-family: 'Bungee', cursive;
    text-align: center;
    
}


.compSchedule{
    color: black;
    font-size: 15px;
}

.SocSchedule{
    color:grey;
    font-size:15px;
}

#a{
    font-size:60px;
    font-weight: bold;
}



