@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Righteous&display=swap');
body{
   margin:0px;
    background-color:ffffff;
    height: 100vh;
}




/* Start of Style for Schedule page 
*/

body{
    margin:0px;
}


.month{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    margin: 10px;  
}

.calendar{
    display:flex;
    flex-direction: column;
    width:1200px;
}
.week{
    display:flex;
    flex-direction: row;

}
.day {
    background-color: white;
    border: 1px solid black;
    width: 150px;
    height: 150px;
    float: left;
    text-align:start;
}
.empty{
    background-color: lightgrey;
    border: 1px solid black;
    width: 150px;
    height: 150px;
    float: left;
    text-align:start;
}

.august{
    color: darkgreen;
    font-family: 'Bungee', cursive;
    text-align: center;
    
}


.compSchedule{
    color: black;
    font-size: 15px;
}

.SocSchedule{
    color:grey;
    font-size:15px;
}

#a{
    font-size:60px;
    font-weight: bold;
}


/** Start of avaible plants**/
.plantsImg{
    display: flex;
    margin: 100px;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
}

.radish:hover{
    border: 3px solid  rgb(225, 110, 22);
}

.imgtitle{
    text-align: center;
    font-size: 30px;
    color: rgb(225, 110, 22);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.radishpreset{
    display:none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
    color: darkgreen;
    border: 3px solid cornflowerblue ;
    width: 500px;
}

.presets{
    display:flex;
    font-size: 30px;
    font-family:monospace;
    font-weight:bold;
}




